@import url(colors.css);
@import url(header.css);

/* ================== Style the index page ================== */
/* ========================================================== */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    background-image: url('../images/background-image.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.quote {
    margin: 15px;
    padding: 5px; 
    position: absolute;
    left: 0;
    top: 30%; 
    width: 25%;
    transform: translateY(-50%);
    backdrop-filter: blur(10px);
    border-radius: 10px; 
}

.quote h2 {
    margin-bottom: 20px; 
    font-size: 32;
    color: white;
    text-align: left;
}

.quote span {
    font-weight: bold; /* Adjust as needed */
    font-size: 1.2em; /* Adjust size as needed */
    color: var(--primary-color-3);
}

.quote p {
    margin-bottom: 20px; 
    font-style: italic;
    color: black;
    word-wrap: break-word;
    text-align: left;
}

.quote button {
    margin-bottom: 20px; 
    padding: 10px 20px;
    background-color: var(--primary-color-3);
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.quote button:hover {
    background-color: var(--primary-color-1); 
}

.footer {
    background-color: var(--primary-color-3);
    color: white;
    padding: 8px 5px;
    text-align: center;
    width: 100%;
    box-sizing: border-box; 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    transition: color 0.3s ease;
}

.footer a:hover {
    color: var(--primary-color-1);; 
}

.footer img {
    width: 24px; 
    height: auto; 
    margin-right: 10px; 
    margin-left: 10px; 
}